@import "tailwindcss";

@theme {
  @keyframes shimmer {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
  }
}

@layer base {
  @media print {
    body * {
      visibility: hidden;
    }
    #invoice-render, #invoice-render * {
      visibility: visible;
    }
    #invoice-render {
      position: absolute;
      left: 0;
      top: 0;
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      box-shadow: none !important;
      border: none !important;
    }
    @page {
      size: A4;
      margin: 0;
    }
  }
}
